:host {
  height: 100%;
}

mat-drawer-container {
  padding: 15px;
}

mat-drawer {
  position: fixed;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.empty-content {
  height: 100%;
  width: 100%;

  p {
    text-align: center;
  }
}

.selectable-list-element {
  &:hover {
    cursor: pointer;
  }
}
