<div fxLayout="column" class="tab-content" [formGroup]="requestForm" fxFlex>
  <mat-form-field appearance="fill" fxFlex>
    <mat-label>Route</mat-label>
    <input matInput formControlName="route" />
    <mat-error *ngIf="requestForm.get('route')?.hasError('duplicate')"
      >Route already exists</mat-error
    >
  </mat-form-field>

  <mat-dialog-content>
    <app-endpoint-response-form [requestForm]="requestForm">
      <mat-form-field method appearance="fill">
        <mat-label>Method</mat-label>
        <mat-select formControlName="method">
          <mat-option value="GET">GET</mat-option>
          <mat-option value="POST">POST</mat-option>
          <mat-option value="PUT">PUT</mat-option>
          <mat-option value="PATCH">PATCH</mat-option>
          <mat-option value="DELETE">DELETE</mat-option>
          <mat-option value="HEAD">HEAD</mat-option>
          <mat-option value="OPTIONS">OPTIONS</mat-option>
          <mat-option value="CONNECT">CONNECT</mat-option>
          <mat-option value="TRACE">TRACE</mat-option>
        </mat-select>
      </mat-form-field></app-endpoint-response-form
    >
  </mat-dialog-content>
  <button #submitButton mat-raised-button color="primary" (click)="submit()">
    Create
  </button>
</div>
