<ng-container [formGroup]="requestForm">
  <div fxLayout="row" fxLayoutGap="15px">
    <ng-content select="[method]"></ng-content>

    <mat-form-field appearance="fill">
      <mat-label>Status code</mat-label>
      <input matInput type="number" formControlName="statusCode" />
    </mat-form-field>
  </div>

  <mat-tab-group *ngIf="requestForm">
    <mat-tab label="Body">
      <div class="tab">
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="body"></textarea>
        </mat-form-field>
      </div>
    </mat-tab>
    <mat-tab label="Headers" fxFlex>
      <div formArrayName="headers" class="tab headers">
        <div
          *ngFor="let _ of requestForm.headersControl.controls; index as i"
          fxLayout="row"
          fxLayoutGap="20px"
          fxLayoutAlign="start center"
        >
          <ng-container [formGroupName]="i">
            <mat-form-field fxFlex="50">
              <mat-label>Data key</mat-label>
              <input
                formControlName="key"
                #key
                matInput
                placeholder="Key"
                (input)="onHeaderInput(i)"
              />
            </mat-form-field>

            <mat-form-field fxFlex="50">
              <mat-label fxFill>Value</mat-label>
              <input
                formControlName="value"
                matInput
                placeholder="Value"
                (input)="onHeaderInput(i)"
              />
            </mat-form-field>

            <button
              *ngIf="requestForm.headersControl.controls.length > 1"
              mat-icon-button
              color="primary"
              (click)="requestForm.deleteHeader(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
