<div fxLayout="column" class="tab-content" [formGroup]="requestForm">
    <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field appearance="fill">
            <mat-label>Method</mat-label>
            <mat-select formControlName="method">
                <mat-option value="GET">GET</mat-option>
                <mat-option value="POST">POST</mat-option>
                <mat-option value="PUT">PUT</mat-option>
                <mat-option value="PATCH">PATCH</mat-option>
                <mat-option value="DELETE">DELETE</mat-option>
                <mat-option value="HEAD">HEAD</mat-option>
                <mat-option value="OPTIONS">OPTIONS</mat-option>
                <mat-option value="CONNECT">CONNECT</mat-option>
                <mat-option value="TRACE">TRACE</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" fxFlex="80">
            <mat-label>Route</mat-label>
            <input matInput formControlName="route">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Status code</mat-label>
            <input matInput type="number" formControlName="statusCode">
        </mat-form-field>
    </div>

    <mat-tab-group>
        <mat-tab label="Body">
            <div>
                <mat-form-field appearance="fill" fxFlex>
                    <textarea matInput formControlName="body"></textarea>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Headers">
            <ng-container formArrayName="headers">
                <div *ngFor="let _ of headers.controls; index as i" fxLayout="row" fxLayoutGap="20px"
                    fxLayoutAlign="start center">
                    <ng-container [formGroupName]="i">
                        <mat-form-field fxFlex="35">
                            <mat-label>Data key</mat-label>
                            <input formControlName="key" #key matInput placeholder="Key" (input)="onHeaderInput(i)">
                        </mat-form-field>

                        <mat-form-field fxFlex="20">
                            <mat-label>Value</mat-label>
                            <input formControlName="value" matInput placeholder="Value" (input)="onHeaderInput(i)">
                        </mat-form-field>

                        <button *ngIf=" headers.controls.length> 1" mat-icon-button color="primary"
                            (click)="deleteHeader(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-container>
                </div>
            </ng-container>
        </mat-tab>
    </mat-tab-group>

    <button mat-raised-button color="primary" (click)="submit()">Create</button>
</div>