<div *ngIf="response; else detailsBlock" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
        <span class="label">METHOD:</span>
        <span class="value">{{response?.Method}}</span>
    </div>

    <div fxLayout="row">
        <span class="label">ROUTE:</span>
        <span class="value">{{response?.Route}}</span>
    </div>

    <div fxLayout="row">
        <span class="label">STATUS CODE:</span>
        <span class="value">{{response?.StatusCode}}</span>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
        <span class="label">HEADERS</span>
        <table fxFill>
            <tbody>
                <tr *ngFor="let pair of response?.Headers | keyvalue">
                    <td>{{pair.key}}</td>
                    <td>{{pair.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
        <span class="label">BODY</span>
        <div class="body">{{response?.Body}}</div>
    </div>
</div>
<ng-template #detailsBlock>
    <span class="label">RESPONSE DETAILS</span>
</ng-template>