<div *ngIf="response" fxLayout="column" fxLayoutGap="20px" class="container">

    <app-method-route Method={{response?.Method}} Route={{response?.Route}}></app-method-route>

    <div fxLayout="row">
        <span class="label">STATUS CODE:</span>
        <span class="value">{{response?.StatusCode}}</span>
    </div>

    <div fxLayout="column" fxLayoutGap="10px">
        <span class="label">HEADERS</span>
        <table fxFill>
            <tbody>
                <tr *ngFor="let pair of response?.Headers | keyvalue">
                    <td>{{pair.key}}</td>
                    <td>{{pair.value}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <span class="label">BODY</span>
    <div class="body" fxFlex>{{response?.Body}}</div>
</div>