<app-method-route Method={{response?.Method}} Route={{response?.Route}}></app-method-route>

<div fxLayout="row" fxLayoutGap="10px" class="section">
    <span class="label">STATUS CODE:</span>
    <span class="value">{{response?.StatusCode}}</span>
</div>

<div fxLayout="column" fxLayoutGap="10px" class="section">
    <span class="label">HEADERS</span>

    <ng-container *ngIf="response?.Headers.length > 0; else noHeader">
        <table fxFill>
            <tbody>
                <tr *ngFor="let pair of response?.Headers | keyvalue">
                    <td>{{pair.key}}</td>
                    <td>{{pair.value}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
    <ng-template #noHeader>
        <span>No header defined</span>
    </ng-template>
</div>

<div class="section" fxLayout="column" fxFlex>
    <span class="label">BODY</span>
    <div class="body" fxFlex>{{response?.Body}}</div>
</div>