<mat-horizontal-stepper
  linear
  #stepper
  (selectionChange)="onStepChange($event)"
>
  <!-- Step 1: Import file -->
  <mat-step #fileUploadStep [completed]="false">
    <ng-template matStepLabel>Select a file</ng-template>
    <div class="step-container">
      <ngx-dropzone (change)="onSelect($event)" [multiple]="false">
        <ngx-dropzone-label>Choose a file or drop here.</ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngFor="let f of files"
          [removable]="true"
          (removed)="clearFiles()"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
      <div
        fxFill
        fxLayout="row"
        fxLayoutAlign="end center"
        class="navigation-panel"
      >
        <button
          mat-button
          color="primary"
          matStepperNext
          [disabled]="files.length == 0"
        >
          Next
        </button>
      </div>
    </div>
  </mat-step>

  <!-- Step 2: Validate inputs -->
  <mat-step #dataValidationStep>
    <ng-template matStepLabel>Validate content</ng-template>
    <div
      class="step-container"
      *ngIf="
        (fileLoading$ | async) === (false || null || undefined);
        else loader
      "
    >
      <p>The following operations will be imported:</p>
      <div class="routes" *ngIf="fileIsValid; else invalidFile">
        <app-method-route
          *ngFor="let response of responses"
          Route="{{ response.route }}"
          Method="{{ response.method }}"
          style="margin-top: 5px"
        ></app-method-route>
      </div>
      <ng-template #invalidFile>
        <p id="errorLabel">
          The selected file does not have a valid JSON format.
        </p>
      </ng-template>
      <div
        fxFill
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="navigation-panel"
      >
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button
          mat-button
          color="primary"
          matStepperNext
          [disabled]="!responses || responses.length == 0"
        >
          Next
        </button>
      </div>
    </div>
  </mat-step>

  <!-- Step 3: Upload results -->
  <mat-step #importStep>
    <ng-template matStepLabel>Import results</ng-template>
    <div
      *ngIf="
        (responsesUploading$ | async) === (false || null || undefined);
        else loader
      "
    >
      <p id="uploadMessage">{{ uploadResultMessage }}</p>
      <p class="error" *ngFor="let error of errors">{{ error }}</p>
      <div fxFill fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button color="primary" matStepperPrevious>Back</button>
        <button
          mat-button
          color="primary"
          *ngIf="errors.length == 0"
          (click)="close()"
        >
          Done
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<ng-template #loader>
  <div fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
