@import "/src/style/_variables.scss";

@mixin method($color) {
  border-color: $color;
  background: rgba($color, 0.1);

  .method-name {
    background: $color;
    font-weight: 700;
    font-size: 14px;
    min-width: 80px;
    padding: 6px 15px;
    text-align: center;
    border-radius: 3px;
    color: white;
  }

  .route {
    font-size: 16px;
    display: flex;
    align-items: center;
    word-break: break-word;
    padding: 0 10px;
    font-family: monospace;
    font-weight: 600;
    color: #3b4151;
  }
}

:host {
  border: 1px solid black;
  border-radius: 3px;
  padding: 0px;
  align-items: center;
  display: flex;
}

.method-get {
  @include method($_color-get);
}

.method-post {
  @include method($_color-post);
}

.method-put {
  @include method($_color-put);
}

.method-delete {
  @include method($_color-delete);
}

.method-options {
  @include method($_color-options);
}

.method-head {
  @include method($_color-head);
}

.method-patch {
  @include method($_color-patch);
}
