:host {
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  overflow-wrap: break-word;
  padding: 5px;
}

.section {
  margin-top: 20px;
}

.label {
  color: grey;
}

.value {
  font-weight: bold;
  overflow-wrap: anywhere;
}

.body {
  background-color: gainsboro;
  padding: 10px;
  border-radius: 5px;
  white-space: pre-line;
}
