<mat-drawer-container fxFill>
  <mat-drawer
    mode="side"
    opened="true"
    class="filters-drawer"
    fxLayout="column"
  >
    <div fxFlexAlign="stretch" fxLayout="column" fxLayoutGap="10px">
      <button
        mat-raised-button
        color="primary"
        (click)="openRouteCreationPopup()"
        fxFlex
      >
        ADD
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="exportEndpoints()"
        fxFlex
      >
        EXPORT
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="openEndpointsImportPopup()"
        fxFlex
      >
        IMPORT
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <ng-container *ngIf="endpoints.length; else empty">
      <div fxLayout="column" fxLayoutGap="10px" style="overflow: hidden" fxFill>
        <app-method-route
          *ngFor="let endpoint of endpoints; index as i"
          Method="{{ endpoint.method }}"
          Route="{{ endpoint.route }}"
          class="selectable-list-element"
          (click)="endpointSelected(i)"
        >
        </app-method-route>
      </div>
    </ng-container>

    <ng-template #empty>
      <div class="empty-content" fxLayout="column">
        <p>No registered routes.</p>
      </div>
    </ng-template>
  </mat-drawer-content>

  <mat-drawer
    #drawer
    mode="over"
    opened="false"
    class="details-drawer"
    position="end"
  >
    <app-endpoint-details [endpoint]="selectedEndpoint"></app-endpoint-details>
  </mat-drawer>
</mat-drawer-container>
